@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0, 0%, 0%;
    --secondary-foreground: 0, 0%, 100%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 0, 0%, 100%;
    --secondary-foreground: 0, 0%, 0%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#home-hero {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.049),
      rgba(0, 0, 0, 0.128)
    ),
    url("@/assets/images/hero-img.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#info-banner {
  background: url("@/assets/images/hero-2.jpg") fixed;
  background-size: cover;
  background-position: center center;
}
#footer {
  background: url("@/assets/svg/home.svg");
  background-size: cover;
  background-position: center center;
}
.transition-3 {
  transition: 0.3s;
}
.transition-4 {
  transition: 0.4s;
}

.header-animation {
  animation: header_animation 0.4s;
}

@keyframes header_animation {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

.main-loader {
}
.loader-circle-one,
.loader-circle-two {
  animation: loader_circle infinite 2s;
}

@keyframes loader_circle {
  0% {
    transform: scale(80%);
  }
  25% {
    transform: scale(100%);
  }
  50% {
    transform: scale(80%);
  }
  75% {
    transform: scale(100%);
  }
  100% {
    transform: scale(80%);
  }
}

.header-nav .header-nav-link.active {
  font-weight: 700;
  @apply text-primary;
}

.header-nav .header-nav-link::after {
  content: "";
  transform: scale(0);
  transform-origin: left;
  width: 85%;
  height: 3px;
  border-radius: 10px;
  display: block;
  position: absolute;
  bottom: -4px;
  transition: 0.5s;
  @apply bg-primary;
}
.header-nav .header-nav-link.active::after {
  transform: scale(1);
}

.header-nav .header-nav-link:hover::after {
  transform: scale(1);
}

::-webkit-scrollbar {
  width: 3px;

  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
  cursor: pointer;
}

html {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -ms-touch-select: none;
  -webkit-user-select: none;
}

html.light {
  ::-webkit-scrollbar-thumb {
    @apply bg-black/50;
  }
}

html.dark {
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-50/50;
  }
}

/* Account */
.account-link.active {
  @apply bg-primary/10;
}

.account-link.active .account-link-indicator {
  display: block;
}